* {
    text-decoration: none;
}
h2, h5{
    text-transform: uppercase;
    text-align: center;
}
article{
    margin: 5%;
}
.form {
    margin: 2% 20%
}
footer{
    background: hsla(200, 43%, 19%, 1);
    background: linear-gradient(90deg, hsla(200, 43%, 19%, 1) 0%, hsla(202, 57%, 27%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(200, 43%, 19%, 1) 0%, hsla(202, 57%, 27%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(200, 43%, 19%, 1) 0%, hsla(202, 57%, 27%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1C3846", endColorstr="#1E516E", GradientType=1 );
}
footer .nav-items, .nav-link-light{
    text-transform: none;
    text-decoration-style: none;

}
footer a {
    color: white;
}
footer .nav-item{
    margin: 1em 3em;
}
.oradores img {
    width: auto;
    height: 30em;
}